table, tbody, td { 
border: 1px solid #DDD;
text-align: center;
margin-left: auto;
margin-right: auto;
}

.weekend { 
 
}

.today {
  background: #000;
}

.today a {
  color: #FFF;
}

a {
  color: #000;
  display: block;
}