    body {
        margin:-3;
        padding:0;
        height:99%;    
    }
    #wrapper {
	   min-height:25%;
	   position:relative;
    }
    #header {
	   padding::0px;
	   background:#5ac0d7;
    }
    #content {
        position: fixed;
    }
    #wfooter {	
        position: fixed;
        width: 1923px;
        bottom: 0px;
        height: 90px;
        margin-left: auto;
        margin-right: auto;
    }

    .boks{
	   width: 300px;
	   height: 450px;
	   float: center;
	   text-align: center;
	   font-family: helvetica;
	   font-size: 17px;
	   border-radius: 15px;
	   margin-top: 50px;
	   margin-left: auto;
	   margin-right: auto;
	   /* border-style: inset; */
	   background-color: #efefef;
	   box-shadow: 10px 10px 5px #ab4940;
    }
    .cell {
        width: 120px;
        height:40px;
        position: relative;
        color: transparent;
        line-height: 0px;
    }

/* Header */
    .headcell {
        width: 100px;
        height:40px;
        position: relative;
        line-height: 20px;
    }
    
    .bottommidh {
        text-align: right;
    }
    
    .headcell div:before{
        content: '';
        display: inline-block;
        position: absolute;
        width: 0px;
        height: 0px;
        border-style: solid; 
        z-index: -1;
    } 
.topmidh:before
{ 
    border-width: 240px 1920px 0 0;
    border-color: #5ac0d7 transparent transparent transparent;
}
.bottommidh:before
{
    border-width: 0 0 240px 1925px;
    border-color: transparent transparent #4aa3b7 transparent;
    top:0px;
    left:0px;
    }

/* Middel */
    .bottommid{
        text-align: right;
    }
    .cell div:before {
        content: '';
        display: inline-block;
        position: absolute;
        width: 0px;
        height: 0px;
        border-style: solid; 
        z-index: -1;
    }
    .topmid:before { 
	   border-right: 1920px #fa6e61;
	   border-bottom: 680px #ff7f70;
    }
    
    h2.sansserif {
        position: relative;
        text-align: center;
        font-family: Helvetica;
        top: 20%;
        font-size: 35px;    
    }
    
    h1.Westerdals {
	   position: absolute;
	   text-align: center;
	   font-family: Helvetica;
	   font-size: 400%;
	   left: 40%;
	   top: 20%;	
    }
    
    h2.info {
	   position: absolute;
	   text-align: center;
	   font-family: Helvetica;
	   font-size: 125%;
	   left: 40%;
	   top: 67%;	
    }
    
    h2.info2 {
	   position: absolute;
	   text-align: center;
	   font-family: Helvetica;
	   font-size: 125%;
	   left: 40%;
	   top: 77%;	
    }
    
    p.glemtpassord {
        position: relative;
        text-align: left;
        font-family: Helvetica;
        font-size: 110%;
        left: 5%;
        top: 77%;
    }
    
    p.nybruker {
        position: relative;
        text-align: left;
        font-family: Helvetica;
        font-size: 110%;
        top: 68%;
        left: 60%;
    }
    #actLogo {
        position: absolute;
        float: right;
        width: 120px;
        left: 32%;
        top: 30%;
    }
    input {
	   border-radius: 15px;
	   padding: 10px 40px;
    }
    
    #submit {
	   background: #64cca7;
    }
    
    #LogginnLogo {
	   position: absolute;
	   top: 26%;
	   left: 46.5%;
	   height: 15%;
    }
 